# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Environments
.env
.venv
ENV/
env/
venv/

# pipenv
Pipfile.lock

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local configuration files
*.env
*.local

# Logs
*.log

# SQLite database
*.sqlite3

# macOS
.DS_Store
